# Atlas Data Reporting Methodology

Why some countries are in the international Atlas and some others are not?

Our primary source to feed the International is [SOURCE] with an extra processing step.

Important links
* [U.N. Comtrade](http://comtrade.un.org) website
* [Atlas Data](https://github.com/cid-harvard/atlas-data) processing

Visualizations
* Table with ranking values
* Slopegraph of growth projections
* Geo-map with growth projection ranking
* Line chart with rankings

In [166]:
from IPython.display import IFrame
import pandas as pd

min_year = 1965
max_year = 2013

In [167]:
file_projections = 'sourceData/atlas_growth_projections_2023.csv'

In [168]:
df = pd.read_csv(file_projections)
df.pop('rank2013')

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     11
11     12
12     13
13     14
14     15
15     16
16     17
17     18
18     19
19     20
20     21
21     22
22     23
23     24
24     25
25     26
26     27
27     28
28     29
29     30
       ..
218   NaN
219   NaN
220   NaN
221   NaN
222   NaN
223   NaN
224   NaN
225   NaN
226   NaN
227   NaN
228   NaN
229   NaN
230   NaN
231   NaN
232   NaN
233   NaN
234   NaN
235   NaN
236   NaN
237   NaN
238   NaN
239   NaN
240   NaN
241   NaN
242   NaN
243   NaN
244   NaN
245   NaN
246   NaN
247   NaN
Name: rank2013, dtype: float64

In [169]:
df

,iso,tg2003,tg2004,tg2005,tg2006,tg2007,tg2008,tg2009,tg2010,tg2011,tg2012,tg2013
0,IND,7.92,7.68,7.61,8.00,8.13,7.99,7.67,7.69,7.79,7.73,7.89
1,UGA,6.04,6.32,6.15,6.56,6.72,6.74,6.84,6.87,7.06,7.29,7.00
2,KEN,6.46,6.48,6.95,7.03,6.62,6.70,6.89,6.77,6.33,6.43,6.74
3,MWI,5.32,5.83,5.79,6.09,5.76,6.08,5.55,5.71,5.99,5.90,6.54
4,TZA,5.98,6.45,6.24,6.75,6.87,6.97,6.86,6.48,6.42,6.82,6.54
5,EGY,5.61,5.11,5.47,5.02,5.19,5.29,5.66,5.61,5.59,5.56,6.03
6,MDG,5.69,5.51,5.99,5.77,6.02,5.84,5.93,6.55,6.15,5.74,5.85
7,ZMB,7.22,5.45,5.19,4.92,5.47,5.00,5.07,5.05,5.30,5.61,5.82
8,SEN,6.11,6.02,6.10,6.19,6.40,5.76,5.31,5.52,5.26,5.72,5.53
9,PHL,4.67,4.76,4.58,5.03,4.71,5.08,5.03,5.13,5.39,5.38,5.53
10,MLI,5.35,5.84,5.26,5.01,4.96,5.00,5.37,4.68,4.86,5.02,5.37
11,GTM,5.02,4.88,5.17,5.46,5.47,5.26,5.04,5.06,5.36,5.25,5.30
12,TUR,4.73,4.94,4.98,4.97,4.96,4.73,4.98,5.21,5.25,5.09,5.29
13,KGZ,4.67,4.85,4.70,5.08,5.09,4.67,4.62,4.20,4.68,5.42,5.25
14,IDN,5.94,5.70,5.63,5.52,5.76,5.44,5.30,4.88,5.09,5.02,5.15
15,PAK,4.87,4.94,5.06,5.01,5.07,5.14,5.09,5.09,5.40,4.95,5.13
16,ZWE,5.63,5.61,5.58,5.56,5.56,5.80,5.16,4.94,4.78,4.74,4.93
17,VNM,4.25,4.39,4.24,4.64,4.88,4.66,4.55,4.74,5.16,4.89,4.91
18,MYS,4.88,4.76,4.43,4.44,4.37,4.38,4.30,4.55,4.68,4.87,4.89
19,THA,4.78,4.61,4.48,4.50,4.38,4.48,4.53,4.63,4.83,4.71,4.89
20,JOR,4.59,4.87,4.73,4.87,5.01,4.94,4.83,5.01,4.92,4.91,4.78
21,MOZ,5.07,4.63,4.50,5.07,4.57,4.46,4.91,3.81,4.39,4.41,4.63
22,CHN,5.57,5.54,5.39,5.25,5.16,5.01,4.94,4.96,4.76,4.64,4.56
23,GHA,5.59,5.00,4.61,4.55,5.00,4.31,4.27,4.77,4.81,4.13,4.50
24,YEM,3.59,4.37,4.33,4.22,4.25,4.53,4.58,4.30,4.80,4.53,4.45
25,MEX,4.67,4.71,4.63,4.41,4.58,4.35,4.32,4.37,4.32,4.29,4.43
26,ETH,5.28,5.00,5.04,4.85,5.14,5.06,5.25,4.97,4.53,4.58,4.41
27,ISR,4.45,4.55,4.54,4.25,4.27,4.26,4.22,4.26,4.35,4.48,4.38
28,TUN,3.64,3.34,3.67,3.63,4.00,3.66,4.07,3.96,4.23,4.15,4.18
29,GIN,4.58,5.15,4.46,4.50,4.55,4.52,4.30,4.35,4.43,4.32,4.17
...,...,...,...,...,...,...,...,...,...,...,...,...
218,IRQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,RWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,EUU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,LMY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,NER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,ARB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,KIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,HTI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,LSO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,OED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,PSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,BEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,HKG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,GRD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,LIE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,PSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,ECS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,SSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,BHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,WSM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,HPC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,PRK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,LAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,SDN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,BLZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,GUY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,LBR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
df = pd.melt(df, id_vars=["iso"], var_name="year", value_name="value")

In [171]:
for index, row in df.iterrows():
    df.loc[index, "year"] = df.loc[index, "year"][2:]

# Projections of GDP Growth to 2023 Rankings: Selected Top Countries

In [172]:
# from IPython.display import display, HTML
# HTML(df.head().to_html())

In [173]:
from ipy_table import *
import numpy as np
planets = [
    ['Planet', 'Mass (kg)', 'Diameter (km)'],
    ['Mercury', 3.3022E23, 4879], 
    ['Venus', 4.896E24, 12104],
    ['Earth', 5.972E24, 12735],
    ['Mars', 6.4191E23, 6772]];

planets = df[(df['year'] == '2013')].head(10).as_matrix()

A = np.concatenate(([np.asarray(df.columns)], planets))

# Basic themes
make_table(A)
apply_theme('basic')
# Only show the top-10
set_row_style(0, color='yellow')

# Economic Complexity Index: Rank of Expected GDP Growth to 2023

# Biggest Winners and Losers in Economic Complexity: 2004-2014

# Economic Complexity Index: 2004-2014 Country Rankings – Top 25 Countries

In [6]:
title = 'Distribution of years by total exports (%s %s)' % (min_year, max_year)

IFrame('https://cid-harvard.github.io/vis-toolkit/examples/linechart_bolivia.html', width=900, height=350)

In [3]:
title = 'Countries ranking by ECI (%s)' % (max_year)
IFrame('https://cid-harvard.github.io/vis-toolkit/examples/geomap_and_grid.html', width=900, height=450)

In [5]:
# Geomap of ECI by country and grid of countries
IFrame('https://cid-harvard.github.io/vis-toolkit/examples/barchart_vertical.html', width=900, height=550)

In [ ]:
# Rankings as a table