# Atlas data updates and growth projection notes

Methodological notes, data sources and interactive visualization from http://atlas.cid.harvard.edu/rankings/growth-predictions/

Important links
* [U.N. Comtrade](http://comtrade.un.org) website
* [Atlas Data](https://github.com/cid-harvard/atlas-data) processing

In [1]:
# Required modules to run this notebook
from IPython.display import IFrame
import pandas as pd
import numexpr

# Updated growth predictions data files by CID

In [2]:
#file_projections = 'sourceData/atlas_growth_projections_2023.csv'
file_projections = 'sourceData/Growth_proj_rankings_2014.csv'
file_rankings = 'sourceData/ECI_rankings_2014.csv'

In [3]:
df = pd.read_csv(file_projections)
# Removing ranking column (will be re-generated later on)
df.pop('rank2014');

In [4]:
# Turning some columns into rows
df = pd.melt(df, id_vars=["iso", "countryname"], var_name="year", value_name="value")

In [5]:
# Formatting year (time) column
for index, row in df.iterrows():
    df.loc[index, "year"] = df.loc[index, "year"][2:]

In [6]:
# Adding countries ranks for each year
df['rank'] = df.groupby('year')['value'].rank(ascending=False, method='first')

In [7]:
df.sort(['rank'], ascending=True);

In [8]:
df[df['rank'].isnull()]

      iso           countryname  year  value  rank
38    SRB                Serbia  2004    NaN   NaN
614   SYR  Syrian Arab Republic  2008    NaN   NaN
737   SYR  Syrian Arab Republic  2009    NaN   NaN
860   SYR  Syrian Arab Republic  2010    NaN   NaN
983   SYR  Syrian Arab Republic  2011    NaN   NaN
1106  SYR  Syrian Arab Republic  2012    NaN   NaN
1229  SYR  Syrian Arab Republic  2013    NaN   NaN
1352  SYR  Syrian Arab Republic  2014    NaN   NaN

In [9]:
# Discard countries that don't have data for every time point between 2004 and 2014
countries_null = list(set(df[df['rank'].isnull()]['iso']))
countries_null

['SYR', 'SRB']

In [10]:
# TODO: use the countries_null variable
df = df.query("iso not in ['SRB', 'SYR']")

In [11]:
# Convert rank to integer
df['rank'] = df['rank'].apply(lambda x: int(x))

In [12]:
# Preview of the resulting rankings
df.head()

   iso       countryname  year  value  rank
0  IND             India  2004   7.15     1
1  UGA            Uganda  2004   6.11     3
2  KEN             Kenya  2004   6.32     2
3  TZA          Tanzania  2004   6.11     4
4  EGY  Egypt, Arab Rep.  2004   5.00    14

# TODO: generate data for download using this format
Will go on the sidebar for the page http://beta.atlas.cid.harvard.edu/rankings/
<pre>
rank,abbrv,country,eci_value,delta,year,growth_proj_annual_2023
1,JPN,Japan,2.348182,0,2013,2.13
2,CHE,Switzerland,2.331362,0,2013,3.62
3,DEU,Germany,2.03559,0,2013,-1.33
4,KOR,"Korea, Rep.",1.92968,1,2013,3.85
5,SWE,Sweden,1.817256,-1,2013,2.6
</pre>

# Projections of GDP Growth to 2024 Rankings: Selected Top Countries

In [13]:
# from IPython.display import display, HTML
# HTML(df.head().to_html())
df.to_csv('/Users/rvuillemot/Dev/vis-toolkit-datasets/data/atlas_growth_projections_2024.csv')

In [14]:
# Generate a pretty table
from ipy_table import *
import numpy as np

df_table = df[(df['year'] == '2014')].head(10).reset_index(drop=True).reset_index()
table = df_table.as_matrix()

header = np.asarray(df_table.columns)
header[0] = 'Index'
header[1] = 'Country'
# df.rename(columns=lambda x: x[1:], inplace=True)
table_with_header = np.concatenate(([header], table))

# Basic themes
# Detais http://nbviewer.ipython.org/github/epmoyer/ipy_table/blob/master/ipy_table-Introduction.ipynb
make_table(table_with_header)
apply_theme('basic')
# Only show the top-10
set_row_style(1, color='yellow')

# Economic Complexity Index: Rank of Expected GDP Growth to 2024

The geo-map below shows the expected GDP growth to 2024

In [15]:
IFrame('https://cid-harvard.github.io/vis-toolkit/examples/geomap_and_tick.html', width=900, height=450)

# Biggest Winners and Losers in Economic Complexity: 2004-2014

In [16]:
IFrame('https://cid-harvard.github.io/vis-toolkit/examples/slopegraph_projections.html', width=900, height=350)

# Economic Complexity Index: 2004-2014 Country Rankings

The line chart below shows the changes in ECI between 2004 and

In [17]:
IFrame('https://cid-harvard.github.io/vis-toolkit/examples/linechart_projections.html', width=900, height=350)

# Ranking of ECI by country and grid of countries

In [18]:
IFrame('https://cid-harvard.github.io/vis-toolkit/examples/barchart_vertical_projections.html', width=900, height=550)

# How many countries report their data every year?

In [19]:
IFrame('https://cid-harvard.github.io/vis-toolkit/examples/barchart_histogram.html', width=900, height=550)