# Atlas Data Reporting / Growth Projection

Methodological notes, data sources and interactive visualization from http://atlas.cid.harvard.edu/rankings/growth-predictions/


Important links
* [U.N. Comtrade](http://comtrade.un.org) website
* [Atlas Data](https://github.com/cid-harvard/atlas-data) processing

Visualizations
* Table with ranking values
* Slopegraph of growth projections
* Geo-map with growth projection ranking
* Line chart with rankings

In [18]:
from IPython.display import IFrame
import pandas as pd

min_year = 1965
max_year = 2013

In [19]:
file_projections = 'sourceData/atlas_growth_projections_2023.csv'

In [20]:
df = pd.read_csv(file_projections)
df.pop('rank2013')
df.head()

,iso,tg2003,tg2004,tg2005,tg2006,tg2007,tg2008,tg2009,tg2010,tg2011,tg2012,tg2013
0,IND,7.92,7.68,7.61,8.00,8.13,7.99,7.67,7.69,7.79,7.73,7.89
1,UGA,6.04,6.32,6.15,6.56,6.72,6.74,6.84,6.87,7.06,7.29,7.00
2,KEN,6.46,6.48,6.95,7.03,6.62,6.70,6.89,6.77,6.33,6.43,6.74
3,MWI,5.32,5.83,5.79,6.09,5.76,6.08,5.55,5.71,5.99,5.90,6.54
4,TZA,5.98,6.45,6.24,6.75,6.87,6.97,6.86,6.48,6.42,6.82,6.54

In [21]:
# Turning some columns into rows
df = pd.melt(df, id_vars=["iso"], var_name="year", value_name="value")
df.head()

   iso    year  value
0  IND  tg2003   7.92
1  UGA  tg2003   6.04
2  KEN  tg2003   6.46
3  MWI  tg2003   5.32
4  TZA  tg2003   5.98

In [22]:
# Formatting year (time) column
for index, row in df.iterrows():
    df.loc[index, "year"] = df.loc[index, "year"][2:]
df.head()

   iso  year  value
0  IND  2003   7.92
1  UGA  2003   6.04
2  KEN  2003   6.46
3  MWI  2003   5.32
4  TZA  2003   5.98

In [23]:
df['rank'] = df.groupby('year')['value'].rank(ascending=False, method='first')

In [24]:
df.sort(['rank'], ascending=True).head(15)

      iso  year  value  rank
0     IND  2003   7.92     1
1240  IND  2008   7.99     1
1488  IND  2009   7.67     1
496   IND  2005   7.61     1
248   IND  2004   7.68     1
992   IND  2007   8.13     1
744   IND  2006   8.00     1
1984  IND  2011   7.79     1
1736  IND  2010   7.69     1
2232  IND  2012   7.73     1
2480  IND  2013   7.89     1
746   KEN  2006   7.03     2
498   KEN  2005   6.95     2
57    MRT  2003   7.47     2
1490  KEN  2009   6.89     2

# Projections of GDP Growth to 2023 Rankings: Selected Top Countries

In [25]:
# from IPython.display import display, HTML
# HTML(df.head().to_html())
df.to_csv('/Users/rvuillemot/Dev/vis-toolkit-datasets/data/atlas_growth_projections_2023.csv')

In [26]:
from ipy_table import *
import numpy as np

df_table = df[(df['year'] == '2003')].head(10).reset_index(drop=True).reset_index()
table = df_table.as_matrix()

header = np.asarray(df_table.columns)
header[0] = 'Index'
header[1] = 'Country'
table_with_header = np.concatenate(([header], table))

# Basic themes
# Detais http://nbviewer.ipython.org/github/epmoyer/ipy_table/blob/master/ipy_table-Introduction.ipynb
make_table(table_with_header)
apply_theme('basic')
# Only show the top-10
set_row_style(1, color='yellow')

# Economic Complexity Index: Rank of Expected GDP Growth to 2023

In [10]:
# Map

# Biggest Winners and Losers in Economic Complexity: 2004-2014

In [11]:
# Slope grah

In [12]:
IFrame('https://cid-harvard.github.io/vis-toolkit/examples/slopegraph_projections.html', width=900, height=350)

# Economic Complexity Index: 2004-2014 Country Rankings – Top 25 Countries

In [13]:
title = 'Distribution of years by total exports (%s %s)' % (min_year, max_year)

IFrame('https://cid-harvard.github.io/vis-toolkit/examples/linechart_projections.html', width=900, height=350)

In [14]:
geomap = vistk.Geomap(id='name', color='eci', name='name', year=1995)
geomap.draw(df)

NameError: name 'vistk' is not defined

In [17]:
title = 'Countries ranking by ECI (%s)' % (max_year)
IFrame('https://cid-harvard.github.io/vis-toolkit/examples/geomap_and_tick.html', width=900, height=450)

In [16]:
# Geomap of ECI by country and grid of countries
IFrame('https://cid-harvard.github.io/vis-toolkit/examples/barchart_vertical_projections.html', width=900, height=550)

In [24]:
# Rankings as a table